<div class="cart-container">
  <h2>Your Cart</h2>
  <% if @cart.present? && @cart.items.present? %>
    
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% @cart.items.each do |product_code, item| %>
          <% product = item[:product] %>
          <tr>
            <td><%= product.name %></td>
            <td><%= item[:quantity] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>Total: $<%= @cart.total_price %></p>
  <% else %>
    <p>Your cart is empty.</p>
  <% end %>
</div>